<%= render '/posts/logo' %>
<div class="d_main">
  <h4>회원정보 수정</h4>
  
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
  <div class="d_inputbox">
    <div class="form-inputs">
      <!--이메일은 수정할 수 없음-->
      <%= f.input :email, required: true, autofocus: true, disabled: true, class:"d-user-email", label:"이메일" %>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.label "이름" %>
      <%= f.text_field :name, :required => true, disabled: true, maxlength: "5"%>
      <% if current_user.has_role? 'admin'%>
        <%= f.label "등급" %>
        <%= f.text_field :role, value: "운영진*", disabled: true, class:"role"%>
      <% elsif current_user.has_role? 'member'%>
        <%= f.label "등급" %>
        <%= f.text_field :role, value: "아기사자", disabled: true, class:"role"%>
      <% else %>
        <%= f.label "등급" %>
        <%= f.text_field :role, value: "뉴비", disabled: true, class:"role"%>
        <span>'뉴비' 등급은 게시글 작성이 불가능합니다.</span><span class="label-star">*</span><br>
                등급 관련 사항은 운영자에게 문의해주세요.
      <% end %>
      <%= f.label "휴대전화" %>
      <%= f.text_field :phone, :required => true,placeholder: "- 없이 11자 입력", maxlength: "11"%>
      <%= f.label "닉네임" %>
      <%= f.text_field :nickname, class: "form-control", :required => true, maxlength: "10"%>
      <%= f.label "Github 주소" %>
      <%= f.text_field :gitlink, placeholder: "https://github.com/아이디" %>
      <%= f.input :password, autocomplete: "off", hint: "변경하지 않으려면 비워 두십시오.", required: false, label: "비밀번호" %>
      <%= f.input :password_confirmation, required: false, label:"비밀번호 재확인" %>
      <%= f.input :current_password, hint: "변경 사항을 저장하려면 현재 비밀번호가 필요합니다.", required: true, label:"현재 비밀번호" %>
    </div>
  </div>
  <div class="d_button">
    <div class="form-actions">
      <%= f.button :submit, "수정", class:"btn btn-primary" %>
    </div>
  </div>  
  <% end %>
  
  <div class="d_link">
  <p><%= link_to "회원탈퇴", registration_path(resource_name), data: { confirm: "정말 탈퇴하시겠습니까?" }, method: :delete %></p>
  
  <%= link_to "뒤로가기", :back %>
  </div>
</div>
<%= render '/posts/footer' %>